.slider {
    width: 100vw;
    overflow: hidden;
    position: relative;

    .slider_container {
        width: 100%;
        height: 1000px;
        position: relative;
        display: flex;
        left: 0;
        top: 0;
        z-index: -1;

        .container_image-slider {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: 1000px;
            transition: all 1s ease;
        }
    }

    .slider_info {
        background-image: url('../../assets/images/sliderinfo.png');
        width: 624px;
        height: 369px;
        padding: 70px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        right: 16.6%;

        .info_button {
            padding: 19px 19px;
            color: #F8F200;
            background-color: #000;
        }
    }
}


@media (max-width: 768px) {
    .slider {
        .slider_container{
            height: 713px;
        }
        .slider_info {
            width: 320px;
            height: 207px;
            right: 0;
            text-align: center;
            padding: 30px 13px;

            .info_button {
                width: 244px;
                height: 60px;
                margin-top: 25px;
            }
        }
    }
}