@import "./Header.scss";
@import "./Slider.scss";
@import "./Night.scss";
@import "./Play.scss";
@import "./Monitor.scss";
@import "./Buy.scss";
@import "./Footer.scss";

@font-face {
    font-family: "Archan";
    src: url("../../assets/fonts/ofont.ru_Archangelsk.ttf");
}

@font-face {
    font-family: "RobotoReg";
    src: url("../../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../../assets/fonts/Roboto-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.section_container {
    width: 66.6%;
    margin-left: 16%;
    margin-right: 16%;
}

.label {
    font-family: "Archan";
    font-size: 62px;
}

.bold {
    font-family: "RobotoBold";
    font-size: 18px;
    color: #52BEDC;
}

.p {
    font-family: "RobotoReg";
    font-size: 18px;
    line-height: 34px;
}

.background_line {
    width: 100%;
    height: 70px;
}

.button {
    margin-top: 32px;
    height: 59px;
    width: 192px;
    padding: 15px 50px;
    box-sizing: border-box;
    font-family: "RobotoBold";
    font-size: 18px;
    border: none;
}

@media (max-width: 1024px) {
    .section_container {
        width: 93.3%;
        margin-left: 3.3%;
        margin-right: 3.3%;
    }
}

@media (max-width: 762px) {
    .section_container {
        width: 92.5%;
        margin-left: 3.75%;
        margin-right: 3.75%;
    }

    .label {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }
}